<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.mapper.SourceMapper">
  <resultMap id="BaseResultMap" type="com.training.model.Source">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
    <result column="uploadby" jdbcType="VARCHAR" property="uploadby" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="uploadtime" jdbcType="VARCHAR" property="uploadtime" />
    <result column="filesize" jdbcType="VARCHAR" property="filesize" />
    <result column="bgpath" jdbcType="VARCHAR" property="bgpath" />
    <result column="userclick" jdbcType="BIGINT" property="userclick"/>
    <result column="show" jdbcType="BIGINT" property="show"/><!--可见-->
    <result column="deptname" jdbcType="VARCHAR" property="deptname"/>
    <result column="reallocation" jdbcType="VARCHAR" property="reallocation"/>
    <result column="realbgpath" jdbcType="VARCHAR" property="realbgpath"/>

  </resultMap>

    <select id="listSourceByDept" resultType="com.training.model.Source" parameterType="String">
        select * from source where deptname = #{deptname}
    </select>

  <insert id="add" parameterType="com.training.model.Source">
    insert into source
    <trim prefix="(" suffix=")" suffixOverrides=",">
<!--      <if test="id != null">-->
<!--        id,-->
<!--      </if>-->
      <if test="title != null">
        title,
      </if>
      <if test="explain != null">
        explain,
      </if>
      <if test="filetype != null">
        filetype,
      </if>
      <if test="uploadby != null">
        uploadby,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="filesize != null">
        filesize,
      </if>
      <if test="bgpath != null">
        bgpath,
      </if>
        <if test="show != null">
            show,
        </if>
        <if test="deptname != null">
            deptname,
        </if>
        <if test="reallocation != null">
            reallocation,
        </if>
        <if test="realbgpath != null">
            realbgpath,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
<!--      <if test="id != null">-->
<!--        #{id,jdbcType=INTEGER},-->
<!--      </if>-->
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=VARCHAR},
      </if>
      <if test="uploadby != null">
        #{uploadby,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="bgpath != null">
        #{bgpath},
      </if>
        <if test="show != null">
            #{show},
        </if>
        <if test="deptname != null">
            #{deptname},
        </if>
        <if test="reallocation != null">
            #{reallocation},
        </if>
        <if test="realbgpath != null">
            #{realbgpath},
        </if>
    </trim>
  </insert>

  <select id="list" resultType="com.training.model.Source">
--     select id,title,filetype,location,uploadtime,bgpath,deptname from source;
        select * from source
  </select>

    <delete id="delete" parameterType="long">
        delete from source where id= #{id};
    </delete>

    <select id="getSourceById" parameterType="long" resultMap="BaseResultMap">
        select * from source where id=#{id};
    </select>

    <update id="update" parameterType="com.training.model.Source">
        update source
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="explain != null">
                explain=#{explain},
            </if>

            <if test="bgpath != null">
                bgpath=#{bgpath},
            </if>
            <if test="show != null">
                show=#{show},
            </if>
            <if test="deptname != null">
                deptname=#{deptname},
            </if>

        </set>
        where id = #{id};
    </update>
</mapper>